<!DOCTYPE html>
<html lang="en">

<head>
{{>header}}
</head>

<body>
{{>navbar}}

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_left">
                        <p> Welcome</p>
                        <h1>I am a MERN Stack Developer</h1>
                        <a href="https://optimistic-davinci-735fd3.netlify.app/" target="_blank"><button>About
                                Me</button></a>
                    </div>
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/4.PNG" alt="" class='img-fluid' title='Pankaj'>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{>footer}}
</body>

</html>